/url/cache
/.emacs.desktop
/auto-save-list
/.session
CVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
/swank
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
